/* Font Face */
@font-face {
  font-family: "Itim";
  src: url("/src/assets/fonts/Itim-Regular.ttf") format("truetype");
}

/* Root Container */
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Itim";
}

.Main_app {
  background-color: cadetblue;
  height: 100%;
  width: 100%;
  display: flex;
}
